@charset "utf-8";
body,div,hr,p,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend,ins,menu{margin:0;padding:0;}
body,button,input,label,select,option,textarea,button,fieldset,legend,ins{font:12px/1.5 'Lucida Grande',\5FAE\8F6F\96C5\9ED1,Verdana,Tahoma,Arial,\5b8b\4f53,Helvetica,sans-serif;}  
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
ul,ol{list-style:none;}
a{ color:#333;}
img{ border:none; border:0;}
body{ background-color:#fff; color:#333;}
article, aside, dialog, footer, header, section, footer, nav, figure, menu {display: block;}
i {font-style: normal;}

